.main{
    padding: 0%;
    *{
        padding: 0%;
        margin: 0%;
    }
}
.progress-bar{
    background-color: purple;
}
.nav-tabs{
    a{
        text-decoration: none;
        color: purple;
    }
}
